.background {
  background: url('../../images/bg-intro.jpg') center center no-repeat;
  min-height: 100vh;
  background-size: cover;
}

.put-in {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  animation: myAnimation 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}
@keyframes myAnimation {
  0% {
    transform: scale(.01);
    opacity: 0;
  }
  20% {
    transform: rotate(5deg) scale(.1);
  }
  
  50% {
    transform: rotate(-5deg);
  }
  
  60% {
    transform: rotate(5deg) /* scale(1) */;
    
  }
  70% {
    opacity: 1;
    transform: rotate(-3deg) scale(1);
  }
  80% {
    transform: rotate(3deg) scale(1);
  }

  100% {
    transform: rotate(0deg);
  }
}

.put-in__sing {
  margin-top: 29px;
}

.put-in__button {
  border: solid 3px #ec1e79;
  padding: 17px 22px;
  font-family: gotham-b;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ec1e79;
}

.put-in__button:hover {
  background-color: #ec1e79;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;
}