.navigation-list {
  display: flex;
  flex-flow: column;
  align-items: left;
  margin-top: 26px;
}
.navigation__item {
  margin-top: 31px;
}
.navigation__item:first-child {
  margin-top: 0;
}
.navigation__item--active .navigation__link{
  color: #000;
}
.navigation__item--active .navigation__link--main:before {
  background: url(../../images/main_icon_hover.png) center center no-repeat;
}
.navigation__item--active .navigation__link--feedback:before {
  background: url(../../images/feed_icon_hover.png) center center no-repeat;
}
.navigation__item--active .navigation__link--price:before {
  background: url(../../images/wallet_icon_hover.png) center center no-repeat;
}
.navigation__link {
  display: flex;
  color: #ec1e79;
  font-family: gotham-b;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;
}
.navigation__link:hover {
  color: #000;
}
.navigation__link--main:before {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/main_icon.png) center center no-repeat;
}
.navigation__link--main:hover:before {
  background: url(../../images/main_icon_hover.png) center center no-repeat;
}
.navigation__link--feedback:before {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/feed_icon.png) center center no-repeat;
}
.navigation__link--feedback:hover:before {
  background: url(../../images/feed_icon_hover.png) center center no-repeat;
}
.navigation__link--price:before {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/wallet_icon.png) center center no-repeat;
}
.navigation__link--price:hover:before {
  background: url(../../images/wallet_icon_hover.png) center center no-repeat;
}