.navigation {
  width: 41%;
}
.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation__item {
  margin-right: 20%;
  padding-bottom: 3%;
}
.navigation__item:first-child {
  margin-top: 0;
}
.navigation__item--active .navigation__link{
  color: #ec1e79;
  text-decoration: underline;
}
.navigation__link {
  display: flex;
  color: #fff;
  font-family: gotham-b;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.2px;
  transition: color .4s;
}
.navigation__link:hover {
  color: #ec1e79;
  transition: color .4s;
}
.navigation__link--main:after {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  position: absolute;
  opacity: 1;
  transition: opacity 0.4s;
  background: url(../../images/menu_sprite.png) -10px -10px no-repeat;
}
.navigation__link--main:before {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/menu_sprite.png) -47px -10px no-repeat;
}
.navigation__link--main:hover:after {
  opacity: 0;
  transition: opacity 0.4s;
}
.navigation__item--active .navigation__link--main:after {
  background-position: -47px -10px;
}
.navigation__link--feedback:after {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  position: absolute;
  opacity: 1;
  transition: opacity 0.4s;
  background: url(../../images/menu_sprite.png) -238px -10px no-repeat;
}
.navigation__link--feedback:before {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/menu_sprite.png) -278px -10px no-repeat;
}
.navigation__link--feedback:hover:after {
  opacity: 0;
  transition: opacity 0.4s;
}
.navigation__item--active .navigation__link--feedback:after {
  background-position: -278px -10px;
}

.navigation__link--price:after {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  position: absolute;
  opacity: 1;
  transition: opacity 0.4s;
  background: url(../../images/menu_sprite.png) -121px -10px no-repeat;
}
.navigation__link--price:before {
  margin-right: 17px;
  vertical-align: middle;
  width: 20px;
  height: 18px;
  content: "";
  background: url(../../images/menu_sprite.png) -160px -10px no-repeat;
}
.navigation__link--price:hover:after {
  opacity: 0;
  transition: opacity 0.4s;
}
.navigation__item--active .navigation__link--price:after {
  background-position: -160px -10px;
}