.partner {
  margin-top: 37px;
  margin-bottom: 20px;
}

.part-icons__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
}

.part-icons__item {
  width: 160px;
  text-align: center;
  margin: 32px 60px 15px 0;
}

.part-icons__logo {
  filter:grayscale(100%);
}

.part-icons__logo:hover {
  filter:none;
}