.social {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  text-align: center;
}

.social__tittle {
  text-align: center;
  font-family: gotham-b;
  font-size: 14px;
}

.social__list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 5px;
}

.social__link {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
