@import url('./layout/fonts.css');
@import url('./layout/normalize.css');
@import url('./layout/base.css');

@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/contacts.css');
@import url('./blocks/banner.css');
@import url('./blocks/navigation.css');
@import url('./blocks/features.css');
@import url('./blocks/newsfeeds.css');
@import url('./blocks/pagination.css');
@import url('./blocks/footer.css');
@import url('./blocks/social.css');
@import url('./blocks/breadcrumps.css');
@import url('./blocks/sale.css');
@import url('./blocks/form.css');
@import url('./blocks/prices.css');
@import url('./blocks/partners.css');